version: '3.4'

services:
  datascience:
    image: datascience
    build:
      context: .
      dockerfile: ./Dockerfile
      target: debug
    environment:
      - ODBC_DRIVE=FreeTDS
      - DATABASE_SERVER=KAAN\HOMOLOGACAO
      - DATABASE_NANE=idea
      - DATABASE_USER=idea
      - DATABASE_PWD=useridea
    volumes:
      - ./src:/app
    ports:
      - 8000:8000
      - 5678:5678